# ==============================
# INGESTION SERVICE
# ==============================
INGESTION_APP_NAME = RAG Ingestion Service
INGESTION_STORAGE_DIR = ingestion_service/storage

# legacy: PyPDFLoader/TextLoader
# marker: Marker PDF parser
PDF_PARSER_MODE = marker
